<!-- <button (click)="play()">play</button>
<button (click)="pause()">play</button>
<audio style="height: 400px; width:600px;" id="videoPlayer" controls muted="muted" autoplay>
  <source src="http://localhost:3000/track" type="video/mp4">
</audio> -->

<main>
  <div class="meanScapP-ac-1 ccfae-df">
    <div class="meanScapP-ac-2">
      <app-sidebar></app-sidebar>
    </div>
    <div class="meanScapP-ac-3">
      <nav>
        <app-nav-bar [Inname]="uname"></app-nav-bar>
      </nav>
      <div class="" style="padding: 16px 32px; margin-top: 60px">
        <app-maincomponent></app-maincomponent>
      </div>
    </div>
  </div>
</main>
<footer>
  <app-musicplayer></app-musicplayer>
</footer>
