<div class="">
  <header>
    <div class="meanScapP-ac-hdr">
      <img class="" src="{{ songCollection[0]?.img }}" />
    </div>
    <div class="meanScapP-ac-hdr-inf">
      <div class="meanScapP-ac-hdr-h1">
        <h1>{{ songCollection[0]?.collectionName }}</h1>
      </div>
      <div class="meanScapP-ac-hdr-p">
        <p>{{ songCollection[0]?.artistName }}</p>
      </div>
    </div>
  </header>
  <div class="meanScapP-ac-pplb">
    <div class="btns">
      <div class="play-btn">
        <button class="play-button btn" (click)="playpasuse()">
          <!-- play -->
          <svg
            *ngIf="!isPlaying"
            height="28"
            color="#fff"
            style="margin: 0"
            role="img"
            width="28"
            viewBox="0 0 24 24"
            aria-hidden="true"
          >
            <polygon
              points="21.57 12 5.98 3 5.98 21 21.57 12"
              fill="currentColor"
            ></polygon>
          </svg>
          <!-- pause -->
          <svg
            *ngIf="isPlaying"
            height="28"
            width="28"
            color="#fff"
            role="img"
            viewBox="0 0 24 24"
            aria-hidden="true"
          >
            <rect x="5" y="3" width="4" height="18" fill="currentColor"></rect>
            <rect x="15" y="3" width="4" height="18" fill="currentColor"></rect>
          </svg>
        </button>
      </div>
      <div class="like-btn">
        <button class="like-btn btn">
          <svg
            role="img"
            height="32"
            fill="#b3b3b3"
            width="32"
            viewBox="0 0 32 32"
            class="Svg-ulyrgf-0 hJgLcF"
          >
            <style>
              svg:hover {
                color: #fff;
              }
            </style>
            <path
              d="M27.672 5.573a7.904 7.904 0 00-10.697-.489c-.004.003-.425.35-.975.35-.564 0-.965-.341-.979-.354a7.904 7.904 0 00-10.693.493A7.896 7.896 0 002 11.192c0 2.123.827 4.118 2.301 5.59l9.266 10.848a3.196 3.196 0 004.866 0l9.239-10.819A7.892 7.892 0 0030 11.192a7.896 7.896 0 00-2.328-5.619zm-.734 10.56l-9.266 10.848c-.837.979-2.508.979-3.346 0L5.035 16.104A6.9 6.9 0 013 11.192 6.9 6.9 0 015.035 6.28a6.935 6.935 0 014.913-2.048 6.89 6.89 0 014.419 1.605A2.58 2.58 0 0016 6.434c.914 0 1.555-.53 1.619-.585a6.908 6.908 0 019.346.431C28.277 7.593 29 9.337 29 11.192s-.723 3.6-2.062 4.941z"
            ></path>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <div class="meanScapP-ac-tbl">
    <!-- table heading -->
    <div class="meanScapP-ac-tbl-hdng grid">
      <div class="">#</div>
      <div class="">title</div>
      <div class="">ablum</div>
      <div class="">artist</div>
    </div>

    <!-- table rows -->
    <div
      class="meanScapP-ac-tbl-rows grid"
      *ngFor="let song of songCollection; let i = index"
      [class]="song?._id === currentSongId ? 'bg-onhover' : ''"
    >
      <div class="txt">
        <div *ngIf="!(song?._id === currentSongId && isPlaying)">
          <p class="index" [class]="song?._id === currentSongId ? 'green' : ''">
            {{ i + 1 }}
          </p>
        </div>
        <div class="">
          <img
            *ngIf="song?._id === currentSongId && isPlaying"
            src="../../../assets/img/equaliser-animated-green.73b73928.gif"
            class="imgGif"
            height="16px"
          />
        </div>
      </div>
      <div
        class="txt title"
        [class]="song?._id === currentSongId ? 'green' : ''"
      >
        {{ song?.title }}
      </div>
      <div class="txt">{{ song?.collectionName }}</div>
      <div class="txt">{{ song?.artistName }}</div>
      <div class="txt fend" style="margin-right: 16px">
        <svg
          role="img"
          height="16"
          fill="#b3b3b3"
          width="16"
          viewBox="0 0 32 32"
          class="Svg-ulyrgf-0 hJgLcF"
        >
          <style>
            svg:hover {
              color: #fff;
            }
          </style>
          <path
            d="M27.672 5.573a7.904 7.904 0 00-10.697-.489c-.004.003-.425.35-.975.35-.564 0-.965-.341-.979-.354a7.904 7.904 0 00-10.693.493A7.896 7.896 0 002 11.192c0 2.123.827 4.118 2.301 5.59l9.266 10.848a3.196 3.196 0 004.866 0l9.239-10.819A7.892 7.892 0 0030 11.192a7.896 7.896 0 00-2.328-5.619zm-.734 10.56l-9.266 10.848c-.837.979-2.508.979-3.346 0L5.035 16.104A6.9 6.9 0 013 11.192 6.9 6.9 0 015.035 6.28a6.935 6.935 0 014.913-2.048 6.89 6.89 0 014.419 1.605A2.58 2.58 0 0016 6.434c.914 0 1.555-.53 1.619-.585a6.908 6.908 0 019.346.431C28.277 7.593 29 9.337 29 11.192s-.723 3.6-2.062 4.941z"
          ></path>
        </svg>
      </div>
    </div>
  </div>
</div>
