<div class="meanScapP-mpc ccfae-df">
  <div class="meanScapP-mpc-g1">
    <div class="ccfae-df" *ngIf="songDetails">
      <div class="meanScapP-mpc-mii">
        <img [src]="songDetails?.img" />
      </div>
      <div class="meanScapP-mpc-taAn">
        <p class="meanScapP-mpc-taAn-p1 text">
          {{ songDetails?.title }} ({{ songDetails?.collectionName }})
        </p>
        <p class="meanScapP-mpc-taAn-p2 text">{{ songDetails?.artistName }}</p>
      </div>
    </div>
  </div>
  <div class="meanScapP-mpc-g2">
    <div class="">
      <div class="meanScapP-mpc-g2-c ccfae-df">
        <!-- shuffle -->
        <div (click)="shuffle()" class="meanScapP-mpc-g2-c-svg">
          <svg
            id="Capa_1"
            fill="#b3b3b3"
            [class]="isShuffle ? 'green' : ''"
            enable-background="new 0 0 515.555 515.555"
            height="16"
            viewBox="0 0 515.555 515.555"
            width="16"
            xmlns="http://www.w3.org/2000/svg"
          >
            <style>
              svg {
                cursor: pointer;
              } /* whole rectangle */
              svg:hover {
                fill: #fff;
              }
            </style>
            <path
              d="m143.16 194.119 34.301 39.2 42.805-48.918-28.615-32.7c-30.602-34.991-74.797-55.036-121.243-55.036h-70.408v64.444h70.408c27.864.001 54.39 12.022 72.752 33.01z"
            />
            <path
              d="m418.89 354.444h-5.963c-27.864 0-54.391-12.02-72.752-33.009l-55.704-63.658 55.704-63.658c18.361-20.989 44.888-33.009 72.752-33.009h5.963v64.444l96.665-96.669-96.665-96.663v64.444h-5.963c-46.445 0-90.641 20.044-121.243 55.036l-148.525 169.733c-18.361 20.988-44.888 33.009-72.752 33.009h-70.407v64.444h70.408c46.445 0 90.641-20.045 121.243-55.036l50.017-57.16 50.017 57.16c30.602 34.991 74.797 55.036 121.243 55.036h5.963v64.444l96.665-96.665-96.666-96.667z"
            />
          </svg>
          <div [hidden]="!isShuffle" class="dot">
            <svg
              version="1.1"
              id="Layer_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              viewBox="0 0 512 512"
              style="
                fill: #1ed760;
                height: 4px;
                width: 4px;
                position: absolute;
                left: 5px;
                enable-background: new 0 0 512 512;
              "
              xml:space="preserve"
            >
              <g>
                <g>
                  <path
                    d="M256,0C114.837,0,0,114.837,0,256s114.837,256,256,256s256-114.837,256-256S397.163,0,256,0z"
                  />
                </g>
              </g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
            </svg>
          </div>
        </div>

        <!-- backword -->
        <div class="meanScapP-mpc-g2-c-svg">
          <button class="btn" (click)="backwordSong(songDetails._id)">
            <svg
              version="1.1"
              id="Capa_1"
              fill="#b3b3b3"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              heigth="16"
              width="16"
              viewBox="0 0 416.004 416.004"
              class="str-180"
              style="enable-background: new 0 0 416.004 416.004"
              xml:space="preserve"
            >
              <style>
                svg {
                  cursor: pointer;
                } /* whole rectangle */
                .str-180 {
                  transform: rotate(180deg);
                }
              </style>
              <g>
                <g>
                  <path
                    d="M281.602,195.204l-256-192C20.802-0.444,14.274-1.02,8.866,1.7c-5.44,2.72-8.864,8.256-8.864,14.304v384
                c0,6.048,3.424,11.584,8.832,14.304c2.272,1.12,4.736,1.696,7.168,1.696c3.392,0,6.784-1.088,9.6-3.2l256-192
                c4.032-3.008,6.4-7.776,6.4-12.8S285.634,198.212,281.602,195.204z"
                  />
                </g>
              </g>
              <g>
                <g>
                  <path
                    d="M400.002,0.004h-32c-8.832,0-16,7.168-16,16v384c0,8.832,7.168,16,16,16h32c8.832,0,16-7.168,16-16v-384
                C416.002,7.172,408.834,0.004,400.002,0.004z"
                  />
                </g>
              </g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
            </svg>
          </button>
        </div>

        <!-- play pasue -->
        <div (click)="playPause()" class="meanScapP-mpc-g2-c-svg play-pause">
          <div [hidden]="!state?.playing">
            <svg
              version="1.1"
              id="Capa_1"
              fill="#b3b3b3"
              xmlns="http://www.w3.org/2000/ svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              viewBox="0 0 512 512"
              style="
                height: 30px;
                width: 30px;
                position: absolute;
                top: 2px;
                enable-background: new 0 0 512 512;
                height: 30px;
                width: 30px;
              "
              xml:space="preserve"
              class="scale"
              [hidden]="state?.playing"
            >
              <style>
                svg {
                  cursor: pointer;
                  transition: 0.5s;
                } /* whole rectangle */
                .scale:hover {
                  -webkit-transition: none 33ms cubic-bezier(0.3, 0, 0, 1);
                  transition: none 33ms cubic-bezier(0.3, 0, 0, 1);
                  -webkit-transition-property: all;
                  transition-property: all;
                  -webkit-transform: scale(1.06);
                  transform: scale(1.06);
                }
              </style>
              <g>
                <g>
                  <path
                    d="M437.019,74.98C388.667,26.629,324.38,0,256,0C187.619,0,123.332,26.629,74.98,74.98C26.629,123.332,0,187.619,0,256
                  s26.629,132.668,74.98,181.02C123.332,485.371,187.619,512,256,512c68.38,0,132.667-26.629,181.019-74.98
                  C485.371,388.668,512,324.38,512,256S485.371,123.332,437.019,74.98z M256,482C131.383,482,30,380.617,30,256S131.383,30,256,30
                  s226,101.383,226,226S380.617,482,256,482z"
                  />
                </g>
              </g>
              <g>
                <g>
                  <path
                    d="M304.199,137.723c-8.284,0-15,6.716-15,15V359.28c0,8.284,6.716,15,15,15s15-6.716,15-15V152.723
                  C319.199,144.439,312.483,137.723,304.199,137.723z"
                  />
                </g>
              </g>
              <g>
                <g>
                  <path
                    d="M207.799,137.723c-8.284,0-15,6.716-15,15V359.28c0,8.284,6.716,15,15,15s15-6.716,15-15V152.723
                  C222.799,144.439,216.083,137.723,207.799,137.723z"
                  />
                </g>
              </g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
            </svg>
          </div>
          <div [hidden]="state?.playing">
            <svg
              version="1.1"
              id="Capa_1"
              fill="#b3b3b3"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              viewBox="0 0 30.051 30.051"
              style="
                height: 30px;
                width: 30px;
                position: absolute;
                top: 2px;
                enable-background: new 0 0 512 512;
                height: 30px;
                width: 30px;
              "
              class="scale"
              xml:space="preserve"
            >
              <style>
                svg {
                  cursor: pointer;
                } /* whole rectangle */
              </style>
              <g>
                <path
                  d="M19.982,14.438l-6.24-4.536c-0.229-0.166-0.533-0.191-0.784-0.062c-0.253,0.128-0.411,0.388-0.411,0.669v9.069
              c0,0.284,0.158,0.543,0.411,0.671c0.107,0.054,0.224,0.081,0.342,0.081c0.154,0,0.31-0.049,0.442-0.146l6.24-4.532
              c0.197-0.145,0.312-0.369,0.312-0.607C20.295,14.803,20.177,14.58,19.982,14.438z"
                />
                <path
                  d="M15.026,0.002C6.726,0.002,0,6.728,0,15.028c0,8.297,6.726,15.021,15.026,15.021c8.298,0,15.025-6.725,15.025-15.021
              C30.052,6.728,23.324,0.002,15.026,0.002z M15.026,27.542c-6.912,0-12.516-5.601-12.516-12.514c0-6.91,5.604-12.518,12.516-12.518
              c6.911,0,12.514,5.607,12.514,12.518C27.541,21.941,21.937,27.542,15.026,27.542z"
                />
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
              </g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
            </svg>
          </div>
        </div>

        <!-- forword -->
        <div class="meanScapP-mpc-g2-c-svg">
          <button class="btn" (click)="nextSong(songDetails._id)">
            <svg
              version="1.1"
              height="16"
              width="16"
              id="Capa_1"
              fill="#b3b3b3"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              viewBox="0 0 416.004 416.004"
              style="enable-background: new 0 0 416.004 416.004"
              xml:space="preserve"
            >
              <style>
                svg {
                  cursor: pointer;
                } /* whole rectangle */
              </style>
              <g>
                <g>
                  <path
                    d="M281.602,195.204l-256-192C20.802-0.444,14.274-1.02,8.866,1.7c-5.44,2.72-8.864,8.256-8.864,14.304v384
                c0,6.048,3.424,11.584,8.832,14.304c2.272,1.12,4.736,1.696,7.168,1.696c3.392,0,6.784-1.088,9.6-3.2l256-192
                c4.032-3.008,6.4-7.776,6.4-12.8S285.634,198.212,281.602,195.204z"
                  />
                </g>
              </g>
              <g>
                <g>
                  <path
                    d="M400.002,0.004h-32c-8.832,0-16,7.168-16,16v384c0,8.832,7.168,16,16,16h32c8.832,0,16-7.168,16-16v-384
                C416.002,7.172,408.834,0.004,400.002,0.004z"
                  />
                </g>
              </g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
            </svg>
          </button>
        </div>

        <!-- repeate -->
        <div (click)="repeate()" class="meanScapP-mpc-g2-c-svg">
          <svg
            version="1.1"
            id="Capa_1"
            fill="#b3b3b3"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 512.016 512.016"
            style="enable-background: new 0 0 512.016 512.016"
            xml:space="preserve"
            [class]="isRepeate ? 'green' : ''"
          >
            <style>
              svg {
                cursor: pointer;
              } /* whole rectangle */
            </style>
            <g>
              <g>
                <path
                  d="M507.336,100.696l-96-96c-4.576-4.576-11.456-5.952-17.44-3.456c-5.984,2.496-9.888,8.288-9.888,14.752v48h-208
                    c-97.216,0-176,78.784-176,176c0,8.832,7.168,16,16,16h64c8.832,0,16-7.168,16-16c0-44.192,35.808-80,80-80h208v48
                    c0,6.464,3.904,12.32,9.888,14.784c5.984,2.496,12.864,1.12,17.44-3.456l96-96C513.576,117.08,513.576,106.936,507.336,100.696z"
                />
              </g>
            </g>
            <g>
              <g>
                <path
                  d="M496.008,255.992h-64c-8.832,0-16,7.168-16,16c0,44.192-35.808,80-80,80h-208v-48c0-6.464-3.904-12.32-9.888-14.784
                    s-12.832-1.088-17.44,3.488l-96,96c-6.24,6.24-6.24,16.384,0,22.624l96,96c4.576,4.576,11.456,5.952,17.44,3.456
                    s9.888-8.32,9.888-14.784v-48h208c97.216,0,176-78.784,176-176C512.008,263.16,504.84,255.992,496.008,255.992z"
                />
              </g>
            </g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
          </svg>
          <div [hidden]="!isRepeate" class="dot">
            <svg
              version="1.1"
              id="Layer_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              viewBox="0 0 512 512"
              style="
                fill: #1ed760;
                height: 4px;
                width: 4px;
                position: absolute;
                left: 6px;
                enable-background: new 0 0 512 512;
              "
              xml:space="preserve"
            >
              <g>
                <g>
                  <path
                    d="M256,0C114.837,0,0,114.837,0,256s114.837,256,256,256s256-114.837,256-256S397.163,0,256,0z"
                  />
                </g>
              </g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
            </svg>
          </div>
        </div>
      </div>
      <div class="meanScapP-mpc-g2-slider">
        <div>{{ state?.readableCurrentTime }}</div>
        <input
          type="range"
          class="slider"
          min="0"
          max="{{ state?.duration }}"
          step="0.01"
          [(value)]="state.currentTime"
          (input)="oninput($event)"
          (change)="onChange($event)"
        />
        <div>{{ state?.readableDuration }}</div>
      </div>
    </div>
  </div>

  <!-- volume -->
  <div class="meanScapP-mpc-g3">
    <svg
      version="1.1"
      id="Capa_1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      width="16"
      height="16"
      fill="#b3b3b3"
      viewBox="0 0 475.082 475.081"
      style="enable-background: new 0 0 475.082 475.081"
      style="margin-right: 16px"
      xml:space="preserve"
    >
      <g>
        <g>
          <path
            d="M200.999,63.952c-4.946,0-9.229,1.812-12.847,5.426l-95.074,95.075H18.276c-4.952,0-9.234,1.812-12.85,5.424
              C1.809,173.493,0,177.778,0,182.726v109.63c0,4.949,1.809,9.233,5.426,12.848c3.619,3.617,7.902,5.427,12.85,5.427h74.798
              l95.074,95.078c3.617,3.61,7.9,5.424,12.847,5.424c4.952,0,9.234-1.813,12.85-5.424c3.617-3.614,5.426-7.901,5.426-12.847V82.228
              c0-4.948-1.809-9.234-5.422-12.85C210.23,65.764,205.951,63.952,200.999,63.952z"
          />
          <path
            d="M316.769,277.936c8.093-12.467,12.135-25.93,12.135-40.395s-4.042-27.992-12.135-40.556
              c-8.094-12.562-18.791-21.41-32.121-26.551c-1.902-0.949-4.284-1.427-7.139-1.427c-4.944,0-9.232,1.762-12.847,5.282
              c-3.61,3.521-5.427,7.852-5.427,12.99c0,3.997,1.143,7.376,3.432,10.137c2.283,2.762,5.041,5.142,8.282,7.139
              c3.23,1.998,6.468,4.188,9.708,6.567c3.238,2.38,5.996,5.758,8.278,10.135c2.276,4.38,3.426,9.804,3.426,16.277
              c0,6.471-1.143,11.896-3.426,16.276c-2.282,4.381-5.04,7.755-8.278,10.14c-3.24,2.379-6.478,4.569-9.708,6.567
              c-3.241,1.992-5.999,4.377-8.282,7.132c-2.282,2.765-3.432,6.143-3.432,10.14c0,5.144,1.816,9.47,5.427,12.99
              c3.614,3.521,7.902,5.288,12.847,5.288c2.854,0,5.236-0.479,7.139-1.424C297.978,299.304,308.679,290.403,316.769,277.936z"
          />
          <path
            d="M377.728,318.194c16.18-24.646,24.273-51.531,24.273-80.654c0-29.124-8.094-56.005-24.273-80.666
              c-16.177-24.645-37.6-42.583-64.241-53.815c-2.471-0.95-4.948-1.427-7.416-1.427c-4.948,0-9.236,1.809-12.854,5.426
              c-3.613,3.616-5.424,7.898-5.424,12.847c0,7.424,3.713,13.039,11.139,16.849c10.657,5.518,17.888,9.705,21.693,12.559
              c14.089,10.28,25.077,23.173,32.976,38.686c7.898,15.514,11.848,32.026,11.848,49.537c0,17.512-3.949,34.023-11.848,49.536
              c-7.898,15.516-18.894,28.407-32.976,38.684c-3.806,2.857-11.036,7.043-21.693,12.563c-7.426,3.809-11.139,9.424-11.139,16.847
              c0,4.948,1.811,9.236,5.424,12.847c3.617,3.621,7.991,5.432,13.131,5.432c2.286,0,4.668-0.483,7.139-1.428
              C340.128,360.783,361.551,342.844,377.728,318.194z"
          />
          <path
            d="M438.824,116.92c-24.171-36.638-56.343-63.622-96.505-80.943c-2.471-0.95-4.948-1.425-7.416-1.425
              c-4.948,0-9.236,1.811-12.847,5.424c-3.621,3.615-5.432,7.902-5.432,12.85c0,6.851,3.714,12.469,11.14,16.846
              c1.335,0.756,3.467,1.755,6.42,2.996c2.95,1.232,5.089,2.231,6.427,2.993c8.754,4.755,16.56,9.611,23.418,14.56
              c23.407,17.318,41.682,38.922,54.816,64.809c13.134,25.885,19.697,53.388,19.697,82.512c0,29.129-6.563,56.626-19.697,82.512
              c-13.131,25.889-31.409,47.496-54.816,64.809c-6.858,4.948-14.664,9.801-23.418,14.562c-1.338,0.756-3.477,1.752-6.427,2.99
              c-2.953,1.232-5.085,2.231-6.42,2.998c-7.426,4.374-11.14,9.993-11.14,16.844c0,4.949,1.811,9.233,5.432,12.848
              c3.61,3.617,7.898,5.427,12.847,5.427c2.468,0,4.945-0.476,7.416-1.431c40.162-17.315,72.334-44.3,96.505-80.94
              c24.174-36.638,36.258-76.849,36.258-120.625S463.001,153.554,438.824,116.92z"
          />
        </g>
      </g>
      <g></g>
      <g></g>
      <g></g>
      <g></g>
      <g></g>
      <g></g>
      <g></g>
      <g></g>
      <g></g>
      <g></g>
      <g></g>
      <g></g>
      <g></g>
      <g></g>
      <g></g>
    </svg>

    <input
      type="range"
      min="1"
      max="100"
      class="slider slider-volume"
      value="0"
    />
  </div>
</div>
