<div class="meanScapP-sbc ccfae-df">
  <div class="meanScapP-sbc-1">
    <div class="ccfae-df">
      <img src="../../assets/svg/music-note.svg" class="meanScapP-sbc-1-svg">
      <p class="meanScapP-sbc-1-p">MUSIFY</p>
    </div>
  </div>
  <div class="meanScapP-sbc-2">
    <ul class="meanScapP-sbc-2-ul">
      <li>
        <img class="meanScapP-sbc-2-svg" src="../../assets/svg/home.svg">
        <span>
          Home
        </span>
      </li>
      <li>
        <img class="meanScapP-sbc-2-svg" src="../../assets/svg/search.svg">
        <span>
          Search
        </span>
      </li>
      <li>
        <img class="meanScapP-sbc-2-svg" src="../../assets/svg/home.svg">
        <span>
          Your Library 
        </span>
      </li>
    </ul>
  </div>
  <div class="meanScapP-sbc-3">
    <div class="meanScapP-sbc-3-h">
      <p>PLAYLISTS</p>
    </div>
  </div>
  <div class="meanScapP-sbc-4">
    <div class="meanScapP-sbc-4-cpl ccfae-df">
      <div class="meanScapP-sbc-4-cpl-btn ccfae-df">+</div>
      <p>Create Playlist</p>
    </div>
    <hr class="horizontal-line">
  </div>
  
</div>